<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>PDF List</title>
</head>
<body>
<h1>PDF List</h1>
<a href="/adminHome" class="btn btn-secondary mt-3">Back to Home</a>
<a href="/resourcesLib" class="btn btn-secondary mt-3">Back to Source Databases</a>
<div th:each="entry : ${pdfs}">
  <h2>
    PDF id: <span th:text="${entry.key}"></span>
    <form th:action="@{/deletePdf/{pdfID}(pdfID=${entry.key})}" method="post" style="display:inline;">
      <input type="hidden" name="databaseId" th:value="${database}">
      <button type="submit" class="btn btn-danger">Delete</button>
    </form>
  </h2>
  <table border="1">
    <thead>
    <tr>
      <th>File Name</th>
      <th>View Online</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="file : ${entry.value}">
      <td th:text="${file.title}"></td>
      <td><a th:href="@{/downloadfiles/{bookId}(bookId=${file.id})}">Download</a></td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>
