<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Source Databases</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="../static/vendor/animate/animate.min.css" type="text/css">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link rel="stylesheet" href="../static/vendor/jquery-scrollbar/css/jquery-scrollbar.css">
    <link type="text/css" href="../static/vendor/highlight/css/highlight.min.css" rel="stylesheet">
    <link type="text/css" href="../static/css/demo.css" rel="stylesheet">
</head>
<body>
<main class="main">
    <section class="content">
        <div class="content-inner content-docs">
            <div class="container">
                <div class="d-flex justify-content-between align-items-center mb-3">
                    <h3 id="metadata">Source Databases</h3>
                    <button class="btn btn-sm btn-primary" data-toggle="modal" data-target="#addFolderModal">Add Databases</button>
                </div>
                <div class="code-example">
                    <div class="row" th:each="folder : ${folders}">
                        <div class="col-lg-12 mb-4">
                            <div class="card p-4">
                                <div class="card-body">
                                    <h5 class="heading heading-5 strong-600" th:text="${folder.name}">Folder Title</h5>
                                    <h6 class="text-muted mb-4" th:text="${folder.alternateName}">Folder AlternateName</h6>
                                    <p class="card-text" th:text="${folder.description}">Folder Description</p>
                                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#renameFolderModal" th:attr="data-id=${folder.id}">Edit Databases details</a>
                                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#uploadMarcModal" th:attr="data-id=${folder.id}">Upload Marc</a>
                                    <a href="#" class="btn btn-sm btn-primary" data-toggle="modal" data-target="#uploadPdfModal" th:attr="data-id=${folder.id}">Upload PDF</a>
                                    <a href="/test/searchPage" class="btn btn-sm btn-primary" th:attr="data-id=${folder.id}">Edit Book Info</a>
                                    <a th:href="@{/table(folderId=${folder.id})}" class="btn btn-sm btn-primary edit-marc-info">Edit Marc Info</a>
                                    <div th:if="${invalidFiles != null and folderIdWithInvalidFiles != null and folderIdWithInvalidFiles == folder.id}">
                                        <h6 class="text-danger">Invalid Files:</h6>
                                        <ul>
                                            <li th:each="file : ${invalidFiles}" th:text="${file}"></li>
                                        </ul>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </section>
</main>

<!-- Add Folder Modal -->
<div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addFolderForm" th:action="@{/addDatabases}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFolderModalLabel">Add New Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-step form-step-active">
                        <div class="form-group">
                            <label for="databaseName">Database Name</label>
                            <input type="text" class="form-control" id="databaseName" name="databaseName" required />
                        </div>
                        <div class="form-group">
                            <label for="alternateNames">Alternate Names</label>
                            <input type="text" class="form-control" id="alternateNames" name="alternateNames" required />
                        </div>
                        <div class="form-group">
                            <label for="typeSelection">Database Type</label>
                            <select class="form-control" id="typeSelection" name="typeSelection" required>
                                <option value="" disabled selected>Select a type</option>
                                <option value="Digitized eBook">Digitized eBook</option>
                                <option value="Raw eBook">Raw eBook</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="databaseDescription">Database Description</label>
                            <textarea class="form-control" id="databaseDescription" name="databaseDescription" required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status">Status (Published or Hidden)</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="" disabled selected>Select the status</option>
                                <option value="Published">Published</option>
                                <option value="Hidden">Hidden</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-step">
                        <div class="form-group">
                            <label for="marcFile">Choose Marc File</label>
                            <input type="file" class="form-control" id="marcFile" name="file" required />
                            <input type="hidden" id="uploadMarcFolderId" name="folderId" />
                        </div>
                    </div>
                    <div class="form-step">
                        <div class="form-group">
                            <label for="pdfFiles">Choose PDF File(s)</label>
                            <input type="file" class="form-control" id="pdfFiles" name="files" multiple required />
                            <input type="hidden" id="uploadPdfFolderId" name="folderId" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>



<!-- Rename Folder Modal -->
<div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="renameFolderModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/rename-folder}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameFolderModalLabel">Rename Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="newFolderName">New Folder Name</label>
                        <input type="text" class="form-control" id="newFolderName" name="newName" required>
                        <input type="hidden" id="renameFolderId" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Rename Folder</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload Marc Modal -->
<div class="modal fade" id="uploadMarcModal" tabindex="-1" role="dialog" aria-labelledby="uploadMarcModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/uploadMARC}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadMarcModalLabel">Upload Marc File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="marcFile1">Choose Marc File</label>
                        <input type="file" class="form-control" id="marcFile1" name="file" required>
                        <input type="hidden" id="uploadMarcFolderId1" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload PDF Modal -->
<div class="modal fade" id="uploadPdfModal" tabindex="-1" role="dialog" aria-labelledby="uploadPdfModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/uploadPDF}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadPdfModalLabel">Upload PDF File(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="pdfFiles1">Choose PDF File(s)</label>
                        <input type="file" class="form-control" id="pdfFiles1" name="files" multiple required>
                        <input type="hidden" id="uploadPdfFolderId1" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Core -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="../static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Scripts used only for this demo only - Remove these in your project -->
<script src="../static/vendor/jquery-scrollbar/js/jquery-scrollbar.min.js"></script>
<script src="../static/vendor/jquery-scrollLock/jquery-scrollLock.min.js"></script>
<script src="../static/vendor/sticky-kit/sticky-kit.min.js"></script>
<script src="../static/vendor/highlight/js/highlight.min.js"></script>
<script src="../static/vendor/clipboard-js/clipboard.min.js"></script>
<script src="../static/vendor/holderjs/holder.min.js"></script>
<script src="../static/js/demo.js"></script>
<script src="../static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/js/theme.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#uploadMarcModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#uploadMarcFolderId1').val(folderId);
        });

        $('#renameFolderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#renameFolderId').val(folderId);
        });

        $('#uploadPdfModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#uploadPdfFolderId1').val(folderId);
        });

        // Handle form submission
        $('#addFolderForm').on('submit', function (event) {
            event.preventDefault();

            var form = $(this);
            var formData = new FormData(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    window.location.href = "/resourcesLib";
                },
                error: function (error) {
                    alert("Error submitting the form");
                    console.error("Error:", error);
                }
            });
        });
    });
</script>
</body>
</html>
