<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Source Databases</title>
    <!-- Fonts -->
    <link href="https://fonts.googleapis.com/css?family=Nunito:400,600,700,800|Roboto:400,500,700" rel="stylesheet">
    <!-- Plugins -->
    <link rel="stylesheet" href="../static/vendor/animate/animate.min.css" type="text/css">
    <!-- Theme CSS -->
    <link type="text/css" href="../static/css/theme.css" rel="stylesheet">
    <!-- Demo CSS - No need to use these in your project -->
    <link rel="stylesheet" href="../static/vendor/jquery-scrollbar/css/jquery-scrollbar.css">
    <link type="text/css" href="../static/vendor/highlight/css/highlight.min.css" rel="stylesheet">
    <link type="text/css" href="../static/css/demo.css" rel="stylesheet">
    <style>
        .table-container {
            display: flex;
            justify-content: center;
        }

        table {
            width: 80%;
            color: #212529;
        }

        th, td {
            padding: 0.5rem;
            text-align: center;
            vertical-align: middle;
            border-top: 1px solid #dee2e6;
        }

        .btn {
            padding: 5px 10px;
            font-size: 0.875rem;
        }

        .modal-header, .modal-footer {
            border-bottom: none;
            border-top: none;
        }
    </style>
</head>
<body>
<div class="container mt-5">
    <h3 id="metadata" class="text">Source Databases</h3>
    <div class="row">
        <div class="col">
            <a href="/adminHome" class="btn btn-secondary mb-4">Back to Home</a>
        </div>
        <div class="col text-right">
            <button class="btn btn-sm btn-primary mb-4" data-toggle="modal" data-target="#addFolderModal">Add
                Databases
            </button>
        </div>
    </div>
    <!-- 搜索表单 -->
    <form th:action="@{/resourcesLib}" method="get" class="row mb-4">
        <div class="col">
            <input type="text" name="query" class="form-control"
                   placeholder="Search by Database Name, Alternate Name, or Description">
        </div>
        <div class="col">
            <select name="type" class="form-control">
                <option value="" selected>All Types</option>
                <option value="Digitized eBook">Digitized eBook</option>
                <option value="Raw eBook">Raw eBook</option>
                <option value="Others">Others</option>
            </select>
        </div>
        <div class="col">
            <select name="display" class="form-control">
                <option value="" selected>All Status</option>
                <option value="Unpublished">Unpublished</option>
                <option value="Published">Published</option>
            </select>
        </div>
        <div class="col text-right">
            <button type="submit" class="btn btn-primary">Search</button>
        </div>
    </form>
    <div class="table-container">
        <table class="table">
            <thead class="thead-light">
            <tr>
                <th>Database Name</th>
                <th>Alternate Names</th>
                <th>Description</th>
                <th>Titles</th>
                <th>PDFs</th>
                <th>EPUBs</th>
                <th>Edit Database</th>
                <th>Edit Titles</th>
                <th>Upload New</th>
                <th>Status</th>
                <th>View Online</th>
                <th>Download</th>
                <th>Borrow</th>
                <th>Delete</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="folder : ${folders}">
                <td th:text="${folder.name}">Database Name</td>
                <td th:text="${folder.alternateName}">Alternate Names</td>
                <td th:text="${folder.description}">Description</td>
                <td>
                    <a th:href="@{/test/search2(databaseId=${folder.id})}" th:text="${folder.marcCount}">Marc Count</a>
                </td>
                <td th:text="${folder.pdfCount}">PDF Count</td>
                <td th:text="${folder.epubCount}">EPUB Count</td>

                <td><a class="btn btn-sm btn-primary" data-toggle="modal" data-target="#renameFolderModal"
                       th:data-id="${folder.id}" th:data-name="${folder.name}"
                       th:data-alternate-names="${folder.alternateName}"
                       th:data-description="${folder.description}" th:data-type="${folder.type}">Edit Details</a>

                </td>
                <td>
                    <a th:href="@{/table(folderId=${folder.id})}"
                       class="btn btn-sm btn-primary edit-marc-info">Edit Marc Info</a>
                </td>
                <td>

                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="fileDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Upload New
                        </button>
                        <div class="dropdown-menu" aria-labelledby="fileDropdown">
                            <a class="dropdown-item" data-toggle="modal"
                               data-target="#uploadMarcModal" th:attr="data-id=${folder.id}">Upload Marc</a>
                            <a class="dropdown-item" data-toggle="modal"
                               data-target="#uploadPdfModal" th:attr="data-id=${folder.id}">Upload PDF</a>
                            <a class="dropdown-item" data-toggle="modal"
                               data-target="#uploadEXCELModal" th:attr="data-id=${folder.id}">Upload EXCEL</a>
                            <a class="dropdown-item" data-toggle="modal"
                               data-target="#uploadEPUBModal" th:attr="data-id=${folder.id}">Upload EPUB</a>
                        </div>
                    </div>


                    <div th:if="${invalidFiles != null and folderIdWithInvalidFiles != null and folderIdWithInvalidFiles == folder.id}">
                        <h6 class="text-danger">Invalid Files:</h6>
                        <ul>
                            <li th:each="file : ${invalidFiles}" th:text="${file}"></li>
                        </ul>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="statusDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Status
                        </button>
                        <div class="dropdown-menu" aria-labelledby="statusDropdown">
                            <a class="dropdown-item" th:onclick="'performAction(\'hideBook\', ' + ${folder.id} + ')'">Unpublished</a>
                            <a class="dropdown-item" th:onclick="'performAction(\'showBook\', ' + ${folder.id} + ')'">Published</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="viewOnlineDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            View Online
                        </button>
                        <div class="dropdown-menu" aria-labelledby="viewOnlineDropdown">
                            <a class="dropdown-item" th:onclick="'performAction(\'cancelView\', ' + ${folder.id} + ')'">Disable</a>
                            <a class="dropdown-item" th:onclick="'performAction(\'ableView\', ' + ${folder.id} + ')'">Enable</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="downloadDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Download
                        </button>
                        <div class="dropdown-menu" aria-labelledby="downloadDropdown">
                            <a class="dropdown-item"
                               th:onclick="'performAction(\'cancelDownload\', ' + ${folder.id} + ')'">Disable</a>
                            <a class="dropdown-item"
                               th:onclick="'performAction(\'ableDownload\', ' + ${folder.id} + ')'">Enable</a>
                        </div>
                    </div>
                </td>
                <td>
                    <div class="dropdown">
                        <button class="btn btn-sm btn-primary dropdown-toggle" type="button" id="borrowDropdown"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Borrow
                        </button>
                        <div class="dropdown-menu" aria-labelledby="borrowDropdown">
                            <a class="dropdown-item"
                               th:onclick="'performAction(\'cancelBorrow\', ' + ${folder.id} + ')'">Disable</a>
                            <a class="dropdown-item" th:onclick="'performAction(\'ableBorrow\', ' + ${folder.id} + ')'">Enable</a>
                        </div>
                    </div>
                </td>
                <td><a th:href="@{/deleteFolder(folderId=${folder.id})}"
                       class="btn btn-sm btn-danger edit-marc-info">Delete</a></td>
            </tr>
            </tbody>
        </table>
    </div>
</div>

<!-- Add Folder Modal -->
<div class="modal fade" id="addFolderModal" tabindex="-1" role="dialog" aria-labelledby="addFolderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form id="addFolderForm" th:action="@{/addDatabases}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="addFolderModalLabel">Add New Folder</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-step form-step-active">
                        <div class="form-group">
                            <label for="databaseName">Database Name</label>
                            <input type="text" class="form-control" id="databaseName" name="databaseName" required/>
                        </div>
                        <div class="form-group">
                            <label for="alternateNames">Alternate Names</label>
                            <input type="text" class="form-control" id="alternateNames" name="alternateNames" required/>
                        </div>
                        <div class="form-group">
                            <label for="typeSelection">Database Type</label>
                            <select class="form-control" id="typeSelection" name="typeSelection" required>
                                <option value="" disabled selected>Select a type</option>
                                <option value="Digitized eBook">Digitized eBook</option>
                                <option value="Raw eBook">Raw eBook</option>
                                <option value="Others">Others</option>
                            </select>
                        </div>
                        <div class="form-group">
                            <label for="databaseDescription">Database Description</label>
                            <textarea class="form-control" id="databaseDescription" name="databaseDescription"
                                      required></textarea>
                        </div>
                        <div class="form-group">
                            <label for="status">Status (Published or Hidden)</label>
                            <select class="form-control" id="status" name="status" required>
                                <option value="" disabled selected>Select the status</option>
                                <option value="Published">Published</option>
                                <option value="Hidden">Hidden</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-step">
                        <div class="form-group">
                            <label for="marcFile">Choose Marc File</label>
                            <input type="file" class="form-control" id="marcFile" name="file" required/>
                            <input type="hidden" id="uploadMarcFolderId" name="folderId"/>
                        </div>
                    </div>
                    <div class="form-step">
                        <div class="form-group">
                            <label for="pdfFiles">Choose PDF File(s)</label>
                            <input type="file" class="form-control" id="pdfFiles" name="files" multiple required/>
                            <input type="hidden" id="uploadPdfFolderId" name="folderId"/>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="submit" class="btn btn-primary">Submit</button>
                </div>
            </form>
        </div>
    </div>
</div>


<!-- Rename Folder Modal -->
<div class="modal fade" id="renameFolderModal" tabindex="-1" role="dialog" aria-labelledby="renameFolderModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/rename-folder}" method="post">
                <div class="modal-header">
                    <h5 class="modal-title" id="renameFolderModalLabel">Edit Folder Details</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="form-group">
                        <label for="newFolderName">New Folder Name</label>
                        <input type="text" class="form-control" id="newFolderName" name="newName" required>
                    </div>
                    <div class="form-group">
                        <label for="newAlternateNames">New Alternate Names</label>
                        <input type="text" class="form-control" id="newAlternateNames" name="newAlternateNames"
                               required>
                    </div>
                    <div class="form-group">
                        <label for="newType">New Type</label>
                        <select class="form-control" id="newType" name="newType" required>
                            <option value="" disabled selected>Select a type</option>
                            <option value="Digitized eBook">Digitized eBook</option>
                            <option value="Raw eBook">Raw eBook</option>
                            <option value="Others">Others</option>
                        </select>
                    </div>
                    <div class="form-group">
                        <label for="newDescription">New Description</label>
                        <textarea class="form-control" id="newDescription" name="newDescription" required></textarea>
                    </div>
                    <input type="hidden" id="renameFolderId" name="folderId">
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Save Changes</button>
                </div>
            </form>

        </div>
    </div>
</div>


<!-- Upload Marc Modal -->
<div class="modal fade" id="uploadMarcModal" tabindex="-1" role="dialog" aria-labelledby="uploadMarcModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/uploadMARC}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadMarcModalLabel">Upload Marc File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="marcFile1">Choose Marc File</label>
                        <input type="file" class="form-control" id="marcFile1" name="file" required>
                        <input type="hidden" id="uploadMarcFolderId1" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload EXCEL Modal -->
<div class="modal fade" id="uploadEXCELModal" tabindex="-1" role="dialog" aria-labelledby="uploadEXCELModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/saveExcel}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadEXCELModalLabel">Upload EXCEL File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="marcFile1">Choose EXCEL File</label>
                        <input type="file" class="form-control" id="excelFile" name="file" required>
                        <input type="hidden" id="uploadEXCELFolderId" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload PDF Modal -->
<div class="modal fade" id="uploadPdfModal" tabindex="-1" role="dialog" aria-labelledby="uploadPdfModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/uploadPDF}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadPdfModalLabel">Upload PDF File(s)</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="pdfFiles1">Choose PDF File(s)</label>
                        <input type="file" class="form-control" id="pdfFiles1" name="files" multiple required>
                        <input type="hidden" id="uploadPdfFolderId1" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>

<!-- Upload EPUB Modal -->
<div class="modal fade" id="uploadEPUBModal" tabindex="-1" role="dialog" aria-labelledby="uploadEXCELModalLabel"
     aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <form th:action="@{/uploadEPUB}" method="post" enctype="multipart/form-data">
                <div class="modal-header">
                    <h5 class="modal-title" id="uploadEPUBModalLabel">Upload EPUB File</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <div class="input-group1">
                        <label for="epubFile">Choose EPUB File</label>
                        <input type="file" class="form-control" id="epubFile" name="file" required>
                        <input type="hidden" id="uploadEPUBFolderId" name="folderId">
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                    <button type="submit" class="btn btn-primary">Upload</button>
                </div>
            </form>
        </div>
    </div>
</div>
<!-- Core -->
<script src="../static/vendor/jquery/jquery.min.js"></script>
<script src="../static/vendor/popper/popper.min.js"></script>
<script src="../static/js/bootstrap/bootstrap.min.js"></script>
<!-- FontAwesome 5 -->
<script src="../static/vendor/fontawesome/js/fontawesome-all.min.js" defer></script>
<!-- Scripts used only for this demo only - Remove these in your project -->
<script src="../static/vendor/jquery-scrollbar/js/jquery-scrollbar.min.js"></script>
<script src="../static/vendor/jquery-scrollLock/jquery-scrollLock.min.js"></script>
<script src="../static/vendor/sticky-kit/sticky-kit.min.js"></script>
<script src="../static/vendor/highlight/js/highlight.min.js"></script>
<script src="../static/vendor/clipboard-js/clipboard.min.js"></script>
<script src="../static/vendor/holderjs/holder.min.js"></script>
<script src="../static/js/demo.js"></script>
<script src="../static/vendor/textarea-autosize/textarea-autosize.min.js"></script>
<!-- Theme JS -->
<script src="../static/js/theme.js"></script>
<script th:inline="javascript">
    $(document).ready(function () {
        $('#uploadMarcModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#uploadMarcFolderId1').val(folderId);
        });

        $('#uploadEXCELModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#uploadEXCELFolderId').val(folderId);
        });

        $('#uploadEPUBModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#uploadEPUBFolderId').val(folderId);
        });

        $('#renameFolderModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var folderName = button.data('name');
            var alternateNames = button.data('alternate-names');
            var description = button.data('description');
            var type = button.data('type');

            var modal = $(this);
            modal.find('#renameFolderId').val(folderId);
            modal.find('#newFolderName').val(folderName);
            modal.find('#newAlternateNames').val(alternateNames);
            modal.find('#newType').val(type);
            modal.find('#newDescription').val(description);
        });


        $('#uploadPdfModal').on('show.bs.modal', function (event) {
            var button = $(event.relatedTarget);
            var folderId = button.data('id');
            var modal = $(this);
            modal.find('#uploadPdfFolderId1').val(folderId);
        });

        // Handle form submission
        $('#addFolderForm').on('submit', function (event) {
            event.preventDefault();

            var form = $(this);
            var formData = new FormData(this);

            $.ajax({
                url: form.attr('action'),
                type: form.attr('method'),
                data: formData,
                processData: false,
                contentType: false,
                success: function (response) {
                    window.location.href = "/resourcesLib";
                },
                error: function (error) {
                    alert("Error submitting the form");
                    console.error("Error:", error);
                }
            });
        });

    });
</script>
<script>
    function performAction(action, folderId) {
        let urlMap = {
            'hideBook': '/hideBook',
            'showBook': '/showBook',
            'cancelView': '/cancelView',
            'ableView': '/AbleView',
            'cancelDownload': '/cancelDownload',
            'ableDownload': '/ableDownload',
            'cancelBorrow': '/cancelBorrow',
            'ableBorrow': '/ableBorrow'
        };

        let url = urlMap[action];
        if (!url) {
            console.error('Invalid action:', action);
            return;
        }

        let data = new URLSearchParams();
        data.append('folderId', folderId);

        if (action === 'ableBorrow') {
            let period = prompt("Please enter the borrow period (days):", "30");
            if (period != null) {
                data.append('borrow_period', period);
            } else {
                return; // User cancelled the prompt
            }
        }

        fetch(url, {
            method: 'POST',
            headers: {
                'Content-Type': 'application/x-www-form-urlencoded',
            },
            body: data
        })
            .then(response => response.json())
            .then(data => {
                console.log('Success:', data);
                alert('Operation successful');
            })
            .catch((error) => {
                console.error('Error:', error);
                alert('Operation failed');
            });
    }
</script>


</body>
</html>